@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-cyan {
    text-shadow: 
      1px 1px 2px rgba(0, 0, 0, 0.5),     /* Light black shadow for depth */
      0 0 5px rgba(0, 255, 255, 0.8),     /* Cyan glow */
      0 0 10px rgba(0, 255, 255, 0.7),    /* Stronger cyan glow */
      0 0 15px rgba(0, 255, 255, 0.6);    /* Outer cyan glow */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sixtyfour+Convergence&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu");

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

.sixtyfour-convergence {
  font-family: "Sixtyfour Convergence", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

.banner-text {
  font-family: "Inter Tight", sans-serif;
}

.orbitron-font {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sacramento-regular {
  font-family: "Sacramento", serif;
  font-style: normal;
}

@keyframes scroll-ltr {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

.scroll-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 200%;
}
.rhap_button {
  color: black !important;
}


.scroll-content {
  display: flex;
  animation: scroll-ltr 10s linear infinite;
}

.scroll-tweets {
  display: flex;
  animation: scroll-ltr 30s linear infinite;

}

.scroll-tweet {
  width: 320px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.scroll-item {
  width: 320px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.scroll-item:hover {
  transform: scale(1.1);
}


.scrollbar-black::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 9999px;
}

.scrollbar-black::-webkit-scrollbar-track {
  background: transparent;
}